@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

:root {
    --primary-color:#fde047

}
body{
    margin: 0px 0px;
    font-family: 'Fascinate', cursive;
}

/* header */

.header{
    background-color: var(--primary-color);
    text-align: center;
    color:white;

}

.header h1{
    margin: 0px;
    padding: 2rem;
}

/* section */

.container{
    margin: auto;
    max-width: 600px;
}

.section-input{
    display: block;
    margin: 1.5rem auto;
    width: 80%;
    height: 6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.section-btn{
    display: block;
    margin: auto;
    background-color: var(--primary-color);
    border: 0.1rem solid grey;
    color: white;
    padding: 0.5rem;
}

/* output-section */

.section-output{
    margin: 2.5rem auto;
    width: 80%;

    border: 0.1rem solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 6rem;
    font-family: 'Courier New', Courier, monospace;

}

.footer-side{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: var(--primary-color);
}

.footer-side h1{
    margin: 0px;
    padding: 2rem;
}